services:
  grafana:
    image: grafana/grafana:latest  
    container_name: grafana
    ports:
      - "3000:3000"  
    volumes:
      - grafana-storage:/var/lib/grafana  
    networks:
      - default  
    restart: unless-stopped

volumes:
  grafana-storage:
    driver: local

